---
layout: default
---

{% if page.hero %}
    <section class="jumbotron jumbotron-fluid pnwcsclubsurgesh-jumbotron text-center mb-0 {{page.hero.background | default: 'bg-light'}} {{ page.hero.text_color | default: 'text-white' }}"
    {% if page.hero.image %}
        style="background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url('./assets/images/{{page.hero.image}}') 50%/cover no-repeat"
    {% endif %}>
        <div class="container">
            <h1 class="display-4">{{page.hero.title.text | default: page.title}}</h1>
            {% if page.hero.lead %}
                <p class="lead">{{page.hero.lead}}</p>
            {% endif %}
            {% if page.hero.cta.text %}
                <a 
                    class="btn btn-{{page.hero.cta.color | default: 'primary'}} btn-{{page.hero.cta.scale | default: 'lg'}} mt-3" 
                    href="{{page.hero.cta.url}}" role="button">
                    {{page.hero.cta.text}}
                </a>
            {% endif %}
        </div>
    </section>
{% elsif page.has_title %}
    <section class="p-4 bg-light">
        <div class="container">
            <h1>{{page.title}}</h1>
            {% if page.subtitle %}
                <p class="lead m-0">{{page.subtitle}}</p>
            {% endif %}
        </div>
    </section>
{% endif %}

{% if page.wrap_content %}
    <div class="container py-4">
{% endif %}
    {{content}}
{% if page.wrap_content %}
    </div>
{% endif %}